vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Nov 2005 22:44:02 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|Michael-PC\\Michael
vti_modifiedby:SR|Michael-PC\\Michael
vti_timecreated:TR|05 Nov 2005 22:44:02 -0000
vti_cacheddtm:TX|05 Nov 2005 22:44:02 -0000
vti_filesize:IR|92
vti_cachedlinkinfo:VX|Q|style.css
vti_cachedsvcrellinks:VX|FQUS|GreenKat/style.css
vti_lineageid:SR|{0A7FA560-9D07-4D5D-8629-AA1585D60E4F}
vti_backlinkinfo:VX|
