vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Jun 2007 18:21:00 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|Michael-PC\\Michael
vti_modifiedby:SR|Michael-PC\\Michael
vti_timecreated:TR|28 Jun 2007 18:21:00 -0000
vti_cacheddtm:TX|28 Jun 2007 18:21:00 -0000
vti_filesize:IR|3574
vti_lineageid:SR|{D45BF798-ED67-4378-9098-AEEFBCDB4022}
vti_backlinkinfo:VX|GreenKat/styleNN.css GreenKat/styleMAC.css
